@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<AstronBase.Domain.Entity.Store>

@{
    ViewData["Title"] = "Index";
}

<h1>Магазины</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Организация
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        
   
    <tr>
        

            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                <div>
                @Html.DisplayFor(modelItem => item.Name)
                </div>
                </a>
            </td>
        <td>
                <a asp-action="Details" asp-route-id="@item.Id">
            <div>
            @Html.DisplayFor(modelItem => item.Company.Name)
            </div>
            </a>
        </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
       
    </tr>

   
}
    </tbody>
</table>
