@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AstronBase.Domain.ViewModels.StatusBlank.StatusBlankIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Статусы бланков</h1>

<p>
    <a asp-action="Create">Новый статус</a>
</p>
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            Название
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.StatusBlanks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-outline-info button" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Подробно</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>

<p>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="glyphicon glyphicon-chevron-left">
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="glyphicon glyphicon-chevron-right">
            Вперед
        </a>
    }
</p>
