@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AstronBase.Domain.ViewModels.RegisterState.RegisterStateIndexViewModel

@{
    ViewData["Title"] = "Состояние регистрации";
}

<h1>Состояние регистрации</h1>

<p>
    <a asp-action="Create">Новое состояние регистрации</a>
</p>
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            Название
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.RegisterStates) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>

<p>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="glyphicon glyphicon-chevron-left">
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="glyphicon glyphicon-chevron-right">
            Вперед
        </a>
    }
</p>
