@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<AstronBase.Domain.Entity.Fiscal>

@{
    ViewData["Title"] = "Index";
}

<h1>Фискальные регистраторы</h1>

<p>
    <a asp-action="Create">Добавить новый регистратор</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                SN
                @*@Html.DisplayNameFor(model => model.SerialNumber)*@
            </th>
            <th>
               Модель ФР
            </th>
            <th>
                Статус
            </th>
            <th>
                Организация
            </th>
            <th>
                Объект
            </th>
            <th>
                Инженер
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusFiscal.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Name)
              
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engineer.FirstName)
            </td>
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
